.Title {
  font-size: 36px;
  padding-top: 40px;
  margin-left: 10%;
  font-weight: 600;
}

.big_box {
  margin: 0 auto;
  width: 1250px;
  height: 1400px;
}

.apply_btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #FFF;
  color: #4673EA;
  padding: 7px 20px;
  border: #4673EA 2px solid;
  border-radius: 20px;
  text-decoration: none;
  margin-left: 30px;
}

.nav_form {
  float: right;
  margin-right: 280px;
  
  position: relative;
}

.total_search {
  position: relative;
  width: 300px;
  height: 40px;
  margin-left: 44%;
  border: none;
  box-shadow: 1px 1px 1px 1px #ddd;
  font-size: 14px;
  padding-left: 10px;
}

.search_img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 395px;
  top: 12px;
}

/*검색창*/
.search {
  position: relative;
  width: 1250px;
  height: 225px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #A0CBFF;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.boxtitle {
  display: inline-block;
  width: 100px;
  font-size: 22px;
  margin-left: 20px;
  margin-right: 50px;
}

.cn1 div h2 {
  margin-right: 30px;
}
.cn1::after{
  clear:both;
  content:"";
  display: block;

}

.subject {
  height: 40px;
  margin-bottom: 7px;
}

.subject > * {
  float: left;
}

.subject > label {
  line-height: 40px;
  font-size: 20px;
  margin-right: 30px;
  
}

.date > input {
  width: 200px;
  height: 33px;
}

.selectbox1 {
  border-radius: 5px;
  width: 250px;
  padding-left: 5px;
  height: 35px;
  margin-top: 5px;
  font-size: 16px;
 }

 .selectbox1::placeholder {
  color: #333;
 }

 .region {
    border-radius: 5px;
    width: 250px;
    padding-left: 5px;
    height: 35px;
    margin-top: 5px;
    font-size: 16px;
 }

 .region::placeholder{
  color: #333;
 }

.square {
  line-height: 40px;
  font-size: 20px;
  color: #A0CBFF;
  margin-left: 10px;
}

.scBtn {
  position: absolute;
  cursor: pointer;
  right: 25px;
  bottom: 15px;
  width: 80px;
  height: 35px;
  border: none;
  background-color: #6385e3;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
/*멘토 창*/

.middle_title {
  font-style: 24px;
  font-size: 26px;
  margin-top: 20px;
}