.wrap {
  padding: 0 16%;
}

/* .menu {
  text-align: right;
  margin-right: 50px;
} */

.body{
    display: flex;
    padding: 0 2%;
    /* width: 800px;
    margin: 0 auto; */
}
.left{
    margin-right: 200px;
    margin-top: 70px;

    font-weight: 500;
    font-size: 22px;
    color: #333333;
}
.name{
    margin-bottom: 170px;

    font-weight: 600;
    font-size: 30px;
    color: #333333;
}
.tbmenu{
    margin-bottom: 68px;
}
.right{
    margin-top: 70px;

    font-weight: 500;
    font-size: 25px;
    color: #333333;
}
.myimg {
    width: 160px;
    height: 160px;
}
.editimgbtn {
    margin-left: 40px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #5D6466;
}
.input{
    width: 120%;
    height: 50px;
    padding: 5px 14px 5px 14px;
    margin-bottom: 45px;
    font-size: 16px;
    border: solid 1px #dadada;
    border-radius: 5px;
}
.inputtext{
    width: 120%;
    height: 50px;
    padding: 5px 14px 5px 14px;
    margin-bottom: 45px;
    font-size: 24px;
    color: #333333;
    border: solid 1px #dadada;
    border-radius: 5px;
}
.text{
    margin-bottom: 45px;
}
.btnbox {
    display: flex;
    padding-left: 40%;
    margin: 20px 0;
    margin-bottom: 40px;
}

.editbtn {
    color: white;

    background-color: #4673EA;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    font-size: 22px;

}
.quitbtn {
    background-color: white;
    color: #4673EA;
    margin-left: 35px;
    width: 130px;
    height: 50px;
    border: 3px solid #4673EA;
    border-radius: 30px;
    font-weight: 600;
    font-size: 22px;
}