.wrap {
  padding: 0 15%;
}

.body {
  padding: 0 2%;
  margin-bottom: 50px;
}

.head {
  height: 90px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
}

.nav {

  text-align: center;
  width: 1300px;
  height: 50px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin-bottom: 53px;
}

.nav li>* {
  width: 180px;
  font-size: 24px;

}

.menu {
  text-align: right;
  margin-right: 50px;
}

.submenu {
  display: inline-block;
  width: 50px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.submenu:hover {
  color: #4673EA;
}

.bar {

  border-left: 2px solid #333;
  margin: 0 5px;
}


.mymenu {
  margin-top: 50px;
  font-size: 22px;
  font-family: "GangwonEduBold";
}

.stampBtn {
  margin-top: 46px;
  font-size: 18px;
  border: none;
  background-color: #4673EA;
  border-radius: 10px;
  width: 100px;
  height: 35px;

  color: white;
  
}

.right {
  display: flex;
  justify-content: space-between;
  
}

.stampBox {
  display: flex;
  justify-content: space-between;
}

.stampCnt {
  padding-top: 1%;
  margin-right: 10px;
  font-size: 22px;
}

.stampTitle {
  padding-top: 1%;
  margin-left: 10px;
  font-size: 22px;
}

.stampBd {
  width: 75px;
  height: 75px;
  background-color: #F1F5FA;
  border-radius: 60px;
}

.stampSubBox {
  padding: 0 1%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.stampBorder {
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  
  margin: 20px auto;
  height: 165px;
  margin-bottom: 30px;
}

.totalPoint {
  margin-top: 50px;
  font-size: 22px;
  margin-right: 10px;
}

.pointBorder {
  margin-bottom: 70px;
}

.pointBox {
  width: 1180px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid #4673EA;
  position: relative;
}

.pointTitle {
  font-size: 24px;
  line-height: 62px;
  padding-left: 50px;
}

.pointNum {
  position: absolute;
  font-size: 24px;
  top: 15px;
  right: 50px;
  border: none;
  background-color: white;
}