.wrap {
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
  }
  
  .head {
    height: 90px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 36px;
  }
  
  .nav {
  
    text-align: center;
    width: 1300px;
    height: 50px;
    line-height: 44px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
  }
  
  .nav li>* {
    width: 180px;
    font-size: 24px;
  
  }

  .top{
    font-size: 30px;
    font-family: "GangwonEduBold";
    margin-left: 60px;
    margin-bottom: 30px;
  }