.wrap {
  padding: 0 15%;
  /* width: 1300px;
  height: 1000px;
  margin: 0 auto; */
}

.head {
  height: 90px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
}
.nav {
  text-align: center;
  /* width: 1300px; */
  /* padding: 0 15%; */
  height: 50px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.nav li>* {
  width: 180px;
  font-size: 24px;
}

.body {
  padding: 0 2%;
  margin-bottom: 50px;
}

.top {
  margin-top: 50px;
  font-size: 22px;
}

.categbox {
  display: flex;
}

.categ {
  width: 90px;
  height: 40px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

.line {
  margin-top: 22px;
  border: 1px solid #c4c4c4;
}
.boxdetail{
  display: flex;
}
.scrap{
  padding-top: 10px;
  padding-left: 18px;
}
.title{
  padding-top: 24px;
  padding-left: 20px;
  font-size: 22px;
}
.btndetail{
  position: absolute;
  left: 75%;
  padding-top: 24px;
  font-size: 22px;
  font-weight: 500;
  color: #4673EA;
}
.listline {
  margin-top: 22px;
  border: 0.1px solid #e7e7e7;
}