.wrap {
    padding: 0 15%;
    margin-bottom: 50px;
}

.body{
    padding: 0 2%;
}
.top{
    margin-top: 47px;
    font-size: 22px;
    font-weight: 500;
}
.topcontent{
    display: flex;
    margin-top: 5px;
}
.nextbtn{
    height: 90px;
    width: 50px;
    margin-top: 80px;
}
.topbox{
    width: 100%;
    padding: 30px;
    margin: 22px 80px 28px 80px;
    border: 2px solid #c4c4c4;
    border-radius: 10px;

    display: flex;
}
.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.boxtag{
    margin-top: 30px;
    display: flex;
}
.btn_edit{
    position: absolute;
    color: white;
    background-color: #4673EA;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 20px;
    /* margin-left: 800px; */
    margin-left: 41%;
    margin-top: 110px;
}
.boxlist{
    margin: 0 110px;
}
.toplist{
    display: flex;
    padding: 18px 0% 0px 1%;
}
.detail{
    margin-left: 22px;

    font-size: 18px;
    font-weight: 500;
    color: #4673EA;
}
.acceptbtn{
    background-color: white;
    border: none;
    font-size: 22px;
    position: absolute;
    margin-left: 46%;
}
.refusebtn{
    background-color: white;
    border: none;
    font-size: 22px;
    color: #FF0000;
    position: absolute;
    margin-left: 50%;
}
.bottom{
    margin-top: 73px;
    font-size: 22px;
}
.line{
    margin-top: 22px;
    border: 1px solid #c4c4c4;
}
.boxdetail{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
  .listtitle{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  .btndetail{
    padding-top: 24px;
    font-size: 22px;
    font-weight: 500;
    color: #4673EA;
  }
  .listline {
    margin-top: 22px;
    border: 0.1px solid #e7e7e7;
  }
/* .bottombox{
    margin-bottom: 28px;
    padding: 20px 28px;
    border-bottom: 1px solid #c4c4c4;

    display: flex;
}
.btn_detail{
    color: white;
    background-color: #4673EA;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 30px;

    position: absolute;
    font-weight: 600;
    font-size: 20px;
    margin-left: 810px;
} */