.wrap {
    padding: 0 15%;
    margin-bottom: 50px;
}

.head {
  height: 90px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
}
.nav {
  text-align: center;
  height: 50px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.nav li>* {
  width: 180px;
  font-size: 24px;
}

.body{
    padding: 0 10%;
}
.top{
    margin-top: 47px;
    font-size: 22px;
    font-weight: 500;
}

.topbox{
    margin-top: 22px;
    margin-bottom: 28px;
    padding: 30px;
    border: 2px solid #c4c4c4;
    border-radius: 10px;

    display: flex;
}
.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.boxtag{
    margin-top: 30px;
    display: flex;
}
.btn_edit{
    position: absolute;
    color: white;
    background-color: #4673EA;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 30px;

    font-weight: 600;
    font-size: 20px;
    /* margin-left: 800px; */
    margin-left: 42%;
    margin-top: 110px;
}

.toplist{
    display: flex;
    padding: 18px 1% 0px 3%;
}
.detail{
    margin-left: 22px;

    font-size: 18px;
    font-weight: 500;
    color: #4673EA;
}
.acceptbtn{
    background-color: white;
    border: none;
    font-size: 22px;

    margin-left: 45%;
}
.refusebtn{
    background-color: white;
    border: none;
    font-size: 22px;
    color: #FF0000;

    margin-left: 35px;
}
.bottom{
    margin-top: 73px;
    font-size: 22px;
}
.line{
    margin-top: 22px;
    border: 1px solid #c4c4c4;
}
.boxdetail{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}
  .listtitle{
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  .btndetail{
    padding-top: 24px;
    font-size: 22px;
    font-weight: 500;
    color: #4673EA;
  }
  .listline {
    margin-top: 22px;
    border: 0.1px solid #e7e7e7;
  }
/* .bottombox{
    margin-bottom: 28px;
    padding: 20px 28px;
    border-bottom: 1px solid #c4c4c4;

    display: flex;
}
.btn_detail{
    color: white;
    background-color: #4673EA;
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 30px;

    position: absolute;
    font-weight: 600;
    font-size: 20px;
    margin-left: 810px;
} */