
.applyBox {
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #4673EA;
  font-size: 24px;
  line-height: 62px;
  padding-left: 60px;
  position: relative;
  margin-bottom: 20px;
}

.applyCbtn {
  position: absolute;
  right: 60px;
  top: 20px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  background-color: white;  
  color: #333;
}

.urgeCbtn {
  position: absolute;
  right: 140px;
  top: 20px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  background-color: white;
  
  color: #4673EA;
}


.mymenu {

  font-size: 30px;
  font-family: "GangwonEduBold";
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 30px;  
  width: 250px;
}


.mymenu2 {
  width: 1000px;
  font-size: 22px;
  font-family: "GangwonEduLight";
  color: #666;
  width: 250px;
  text-align: center;
  margin-bottom: 30px;
}