.wrap {
  padding: 0 15%;
}

.body {
  padding: 0 2%;
  margin-bottom: 50px;
}

.head {
  height: 90px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
}

.nav {

  text-align: center;
  width: 1300px;
  height: 50px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.nav li>* {
  width: 180px;
  font-size: 24px;

}

.menu {
  text-align: right;
}


.submenu {
  display: inline-block;
  width: 50px;
  margin-top: 2%;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.submenu:hover {
  color: #4673EA;
}

.bar {

  border-left: 2px solid #333;
  margin: 0 5px;
}


.mymenu {
  margin-top: 10px;
  font-size: 22px;
  font-family: "GangwonEduBold";
}