.wrap {
  padding: 0 15%;
}

.body {
  padding: 0 2%;
  margin-bottom: 50px;
}

.head {
  height: 90px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 36px;
}

.nav {

  text-align: center;
  height: 50px;
  line-height: 44px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.nav li>* {
  width: 180px;
  font-size: 24px;

}

.menu {
  text-align: right;
  margin-right: 1%;
}

.submenu {
  display: inline-block;
  width: 50px;
  margin-top: 2%;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.submenu:hover {
  color: #4673EA;
}

.state_menu {
  text-align: right;
  margin-right: 3%;
}

.state_submenu {
  border-radius: 10px;
  border: 2px solid #859fe5;
  background-color: #859fe5;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  width: 80px;
  margin-top: 2%;
  text-align: center;
}

.bar {

  border-left: 2px solid #333;
  margin: 0 5px;
}

.mymenu {

  font-size: 30px;
  font-family: "GangwonEduBold";

  margin-bottom: 30px;
}

.bigBox {
  width: 1200px;
  margin: 0 auto;
}

.profileBox {
  border: 2px solid #859fe5;
  border-radius: 20px;
  width: 500px;
  height: 150px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.ptitle {
  font-size: 20px;
  color: #4673EA;
  font-family: "GangwonEduBold";
}

.pinBox {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

.desc {
  margin-top: 5px;
  font-size: 20px;
  width: 250px;
}

.desc1 {
  margin-top: 10px;
  font-size: 20px;
  width: 250px;
}

.desc2 {
  font-size: 20px;
  width: 200px;
  margin-top: 5px;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 2px solid #eee;
}

.MemoBox {
  width: 1015px;
  height: 500px;
  border: 2px solid #859fe5;
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 30px;
  position: relative;
}

.mtitle {
  font-size: 20px;
  color: #4673EA;
  margin-bottom: 5px;
  font-family: "GangwonEduBold";
}

.btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.subBox {
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  height: 180px;
  border: 2px solid #F1F5FA;
  float: left;
  margin-bottom: 30px;
  margin-right: 25px;
}

.minBox {
  margin: 20px auto;
  font-weight: 600;
}

.img {
  width: 100px;
  height: 100px;
}